@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
    overflow: hidden;
}

.maincontainer {
    display: flex;
    width: 100vw;
    height: 100vh;
}
iframe {
    border: none;
    height: 100%;
}

#leftSidebar {
    width: 21%;
}

#mainContent {
    width: 67%;
}

#rightSidebar {
    width: 12%;
}

.content {
    flex-grow: 1;
    background: #f7f7f7;
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}
.left {
    align-items: flex-end; /* Right-align text */
    text-align: right;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; /* Evenly distribute space */
}

.left .homepagelogo {
    margin-bottom: 20px;
    align-self: flex-start;
}

.left .projectlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; /* Ensure text is right-aligned */
    flex-grow: 1;
    height: 100%;
    line-height: 30px;
}

.right {
    align-items: flex-start; /* Align text to the left */
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    line-height: 30px;
}

.sidebar a {
    color: black;
    text-decoration: none;
    padding: 1px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 16px;
}

.contactuslinks {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* Change background color on hover */
.sidebar a:hover {
    color: #5b879a;
}

.copyright_claim {
    color: #5b879a;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 16px;
    position: absolute;
    text-align: center;
    height: 50px;
    float: inline-end;
}

/* ROMONTIO */
.romontio_container {
    height: 100vh;
}

.romontio_information {
    color: #5b879a;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.romontio_namedate {
    float: left;
}

.romontio_servicecast {
    float: right;
}


.romontio_images {
    flex-grow: 1;
    background: #f7f7f7;
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    margin-bottom: 20px;
    float: inline-end;
}

.romontio_row {
    display: flex;
}

.romontio_verticalgroup {
    flex: 50%;
    padding: 2px;
}

