@font-face {
    font-family: NewSeasonsReg;
    src: url(fonts/Fontspring-theseasons-reg.otf);
  }

@font-face {
    font-family: NewSeasonsBold;
    src: url(fonts/Fontspring-theseasons-bold.otf);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 33vw;
    text-align: justify;
}

.sidebar {
    width: 33vw;
    height: 100vh;
    background-color: #98c4df;
    box-sizing: border-box;
    position: fixed;
    
}

.homepagelogo {
    margin-left: -30px;
}

.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1px;
    margin-left: 25px;
    font-family: NewSeasonsReg;
    font-weight: 700;
}

.projectlinks {
    margin-bottom: 20px;
}

.briefaboutpara {
    display: block;
    color: black;
    text-decoration: none;
    padding: 3px;
    margin-left: 25px;
    padding-right: 5vw;
    margin-bottom: 20px;
    font-family: NewSeasonsReg;
}

.contactuslinks {
    margin-bottom: 50px;
}

/* Change background color on hover */
.sidebar a:hover {
    color: #98ab97;
}
